{% extends 'layout.html.twig' %}
{% set active = 'map' %}

{% block head %}
    {{ map.getHeaderJS()|raw }}
{% endblock %}

{% block content %}
    <div class="map-form-widget">
        {{ form_widget(form) }}
    </div>
    {{ map.getMapJS()|raw }}
    {{ map.getMap()|raw }}
{% endblock %}
