{% set navigation_bar = [
    ['homepage', 'Home'], ['map', 'Map'], ['admin', 'Admin']
] %}
{% set active_page = active_page|default('index') %}

            <div class="container">
                <a class="brand" href="{{ path('homepage') }}">{{ 'Encounter Mapper'|trans }}</a>
                <div class="nav-collapse">
                    {% block navigation %}
                    <ul class="nav">
                        {% for item in navigation_bar %}
                        <li{% if item[0] == active_page %} class="active"{% endif%}>
                        <a href="{{ path(item[0]) }}">{{item[1]|trans}}</a></li>
                        {% endfor %}
                    </ul>
                    {% endblock %}
                </div><!--/.nav-collapse -->
            </div>
