{% extends 'layout_admin.html.twig' %}
{% set admin_active = 'domains' %}

{% block admin_content %}
    <table class="table table-striped well">
        <tr>
            <th>ID</th>
            <th>Domain Name</th>
            <th>Games</th>
        </tr>
        {% for domain in domains %}
            <tr>
                <td>
                    {{ domain.id }}
                </td>
                <td>
                    {{ domain.name }}
                </td>
                <td>
                    {{ domain.games.count }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
