body {
    padding-top: 60px;
}

#map img {
    max-width: none;
    width: auto;
    display: inline;
}        

#map label { 
  width: auto; display:inline; 
}

.map-form-widget .control-group {
    width: 230px;
    float: left;
}
